// Font Variables
$F-Family: 'Arial Regular', Arial, sans-serif;
$F-Thin: "HelveticaNeue-Ultralight", "Helvetica Neue Ultralight", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
$F-Bold: "Helvetica Neue", "Segoe UI", Helvetica, Arial, sans-serif;

$F-Sizes: (
	Body: (
			Base: (
				fontSize: 15px,
				fontFamily: $F-Family,
				lineHeight: 1.5
			)
	),
	h1: (
		Base: (
			fontSize: 38px,
			lineHeight: 1.25
		),
		Small: (
			fontSize: 48px
		),
		Med: (
			fontSize: 70px,
			lineHeight: 1
		),
		Large: (
			fontSize: 80px,
			lineHeight: 1
		)
	)
);
