// Generated image gradient file
$ImgGrad-Hero: linear-gradient(to left top, rgba(132, 133, 119, 0) 0%, rgb(132, 133, 119) 100%), linear-gradient(to right bottom, rgba(30, 37, 30, 0) 0%, rgb(30, 37, 30) 100%), linear-gradient(to left bottom, rgba(106, 49, 21, 0) 0%, rgb(106, 49, 21) 100%), linear-gradient(to right top, rgba(67, 66, 62, 0) 0%, rgb(67, 66, 62) 100%);

$ImageGradients: (
	Hero: $ImgGrad-Hero
);
