//Variables for colors

$C-Sass-Error: #f00;

// Colour palette definition
$Palette:      (
	White:           #fff,
	Black:           #000,
	Dark-Grey:       #333,
	Grey:            #999,
	Mid-Grey:        #bababa,
	Light-Grey:      #dadada,
	Lightest-Grey:   #f2f2f2,
	Standard-Red:    #ee3a43,
	Dark-Red:        #972127
);

//
// Get Color Funciton
// This will search for the global colours within the $Colors sass map
// Notes Has to be above $Colors otherwise $Colors returns the function as a string
///
@function getPalette($color) {
	@if (map-has-key($Palette, $color)) {
		@return map-get($Palette, $color);
	} @else {
		@warn 'Colour: #{$color} is not a valid colour';
		@return $C-Sass-Error;
	}
}

// Colours used throughout the site
$Colors:       (
	Body: (
		Generic-Container:          getPalette(White),
		Generic-Body:               getPalette(Dark-Grey),
		Generic-Body-Variation:     getPalette(White),
		Generic-Link:               getPalette(Standard-Red),
		Generic-Heading:            getPalette(Black)
	),
	Youtube: (
		BG: getPalette(Black)
	)
);
