//Common Sass functions

// Column widths as the lowest expression of a fraction
// e.g. 1/3 instead of 2/6.
// class="col--1\/3"
// usage @include cols(12) will produce styles for all fractions of 12

@function gcd($a, $b) {
	@if $b == 0 {
		@return $a;
	}
	@return gcd($b, $a % $b);
}

@mixin widths($cols, $modifier: '') {
	@for $i from 1 through $cols - 1 {
		$gcd: gcd($i, $cols);
		$numerator: $i / $gcd;
		$denominator: $cols / $gcd;

		.col--#{$numerator}\/#{$denominator}#{$modifier} {
			width: $i / $cols * 100%;
		}
	}
}

// Get Color Funciton
// This will look for an atom in the color palete and then search for the color variation

@function getColor($atom, $color) {
	@if(map-has-key($Colors, $atom)) {
		$mapGet: map-get($Colors, $atom);
		@if(map-has-key($mapGet, $color)) {
			@return map-get($mapGet, $color);
		} @else {
			@warn 'getColor: #{$color} is not a valid colour';
			@return $C-Sass-Error;
		}
	} @else {
		@warn 'getColor: #{$atom} is not a valid section';
		@return $C-Sass-Error;
	}
}
