//Styleguide layout and filler styles.

.styleguide__grid-item {
	background:     getColor(Styleguide, Grid-Item);
	color:          getColor(Styleguide, Grid-Item-Text);
	height:         $G-Gutter * 3;
	text-align:     center;
	vertical-align: middle;
	width:          100%;
}

.styleguide__section {
	margin-bottom: $G-Gutter * 2;
}

.styleguide__section-title {
	border-bottom:  1px solid getColor(Styleguide, Section-Title-Border);
	margin:         $G-Gutter 0;
	padding-bottom: $G-Gutter / 2;
}

.styleguide__btn-section {
	a {
		margin: $G-Gutter / 2;
	}
}

.color-list {
	font-size: 0;
}

.color-item {
	display:        inline-block;
	padding:        10px;
	text-align:     center;
	vertical-align: top;
	width:          50%;

	@include respond-from(Small) {
		width: 33%;
	}

	@include respond-from(Med) {
		width: 25%;
	}

	@include respond-from(Large) {
		width: 20%;
	}
}

.color-item__color {
	border:         1px solid getColor(Styleguide, Border);
	border-radius: 100%;
	box-sizing:     border-box;
	display:       block;
	height:        $G-Gutter * 3;
	margin:        0 auto;
	width:         $G-Gutter * 3;
}

.color-item__title {
	@include setupTypes(Body);

	display: block;
	padding: 10px 5px;
	width:   100%;
}


@each $key, $value in $Palette {
	.color-item__color--#{$key} {
		background-color: $value;
	}
}
