// This will be a container with a line in the center and a link underneath it.

.center-icon-link {
	display: block;
	height: 150px;
	margin: 0 auto;
	text-align: center;
	width: 50px; // prevents it from covering the whole width of the page.
}

.center-icon-link__line {
	background-color: getColor(Center-Line-Link, Center-Line);
	display: block;
	height: 80%;
	left: 50%;
	margin-left: -.5px;
	opacity: .5;
	position: relative;
	width: 1px;
}

.center-icon-link__icon {
	@include svg($name: arrow-down);
	margin-top: 10px;
	text-indent: -9999px;
}

// Modifier in case they need a white one(based from designs)

.center-icon-link--white {

	.center-icon-link__line {
		background-color: getColor(Center-Line-Link, Center-Line-Alt);
	}

	.center-icon-link__icon {
		@include svg($name: arrow-down-white);
	}
}
