// Element Text

body {
	@include setupTypes(Body);
}

p {
	margin: 0 0 $G-Gutter;
}

ol,
ul {
	margin: 0 0 $G-Gutter $G-Gutter;
}

li {
	padding: $G-Gutter 0;
}

ul {
	> li {
		list-style-type: disc;
		margin-bottom: 0;
		padding: 0;
		text-indent: 0;
	}
}

ol ol,
ol ul,
ul ol,
ul ul {
	margin-bottom: 0;
}

address {
	display: inline-block;
}
